#battle-container {
    display: flex;
    height: 100vh;
}

#battle-log-container {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #444;
        overflow-y: scroll;
    height: 70vh;

}

#battle-log {
    flex: 1;
    padding: 10px;
}

#toggle-log {
    background-color: #444;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
#battle-log-container *{
      overflow-anchor: none;

}
#anchor {
  overflow-anchor: auto;
  height: 1px;
}